<?xml version="1.0" encoding="UTF-8"?><config>	<socketServerIp>172.16.6.216</socketServerIp>	<socketServerPort>4563</socketServerPort>	<datahubVersion>1.0</datahubVersion>	<srcId>=172.16.1.25:1521</srcId>	<dip_xml_compress>1</dip_xml_compress>	<dip_xml_group>5466</dip_xml_group>	<dip_xml_queue_name>656546</dip_xml_queue_name>	<loader_class_name>5465465</loader_class_name></config>